:root {
    --bg-1-dark: rgb(33, 33, 33);
    --bg-2-purple: rgb(45, 40, 50);
    --bg-2b-purple-trnsp: rgba(45, 40, 50, 0.889);
    --bg-3-modal: rgba(68, 60, 77, 0.934);
    --bg-3: rgba(163, 148, 178, 0.193);
    --button-primary: rgb(137, 44, 230);
    --text-primary: rgb(169, 111, 227);
}


.budget {
    padding-top: 7rem;
}

/* dashboard styles */

section.dashboard{
    background-color: var(--bg-1-dark) !important;
    color: white;
}

#dash-info-div{
    margin: 0 auto;
}

#dash-banner {
    background-color: var(--bg-2b-purple-trnsp);
}


 #message-and-button{
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tag-text{
    color: var(--text-primary);
}

#message-and-button #welcome-message{
    font-size: 1em;
}

#button-label {
    font-size: 0.8rem;
    color:#908f8f;
}

#switch-button{
    margin: auto 0;
    transform: scale(0.75);
    border: none;
    transition: background-color 0.2s ease-out;
    background-color: rgb(137, 44, 230);
}

#switch-button :hover{
    background-color: blue !important;
}

#todays-date{
    margin: auto 0 !important;
    color: #908f8f;
    font-size: 0.9rem;
    font-weight: 300;
}

#button-and-text{
    display: flex;
}


#logo{
    max-height: 100px;
}







/* === DYNAMIC BUDGET SECTION styles === */

.currency-symbol {
    margin-left: 2px;
    margin-right: 2px;
}
section.budget{
    background: linear-gradient(to bottom, var(--bg-2-purple) 5%, var(--bg-1-dark) 60%);
    /* background-color: var(--bg-1-dark); */
    color: aliceblue;
    padding-bottom: 10px;
}

/* Graph */
.outer-graph {
    background-color: white;
    color: rgb(189, 189, 189);
    border-radius: 2px;
    height: 0.6rem;
}
.inner-graph {
    background-color: rgb(0, 255, 123);
    width: 37%;
    min-height: 100%;
    border-radius: 2px;
}
.inner-graph p {
    margin: 0px;
    padding: 5px;
}

/* Button */
.add-remove-btn {
    margin: 0px;
    padding: 0px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-weight: 100;
}

/* Adds space between divider in column 2 */
.with-space {
    margin: 0 15px;
}

/* === DYNAMIC INCOME SECTION styles === */

.income-outer-graph {
    background-color: transparent;
    color: rgb(189, 189, 189);
    border-radius: 2px;
    min-height: 1.5em;
    width: 100%;
}
.income-inner-graph {
    background-color: rgb(0, 255, 123);
    width: 100%;
    min-height: 1.5em;
    border-radius: 2px;
    color: black;
}

#overview-section {
    background-color: var(--bg-3);
    border-radius: 10px;
}


#income-information .graph-text {
    max-width: 20rem;
    font-size: 12px;
}

#income-information .header {
    /* max-width: 10rem; */
    font-size: 20px;

}

/* ----- Currency Exchange Styles ----- */
section.currency-exchange{
    background-color: var(--bg-1-dark);
    color: white;
}

#strip{
    background-color: black;
    height: 5vh;
}


/* *** MODAL *** */

/* .budget-modal{
    color: rgb(80, 50, 50);
} */

.budget-modal .modal-content {
    background-color: var(--bg-3-modal);
    border-radius: 13px;
}
.budget-modal .btn-close {
    color: white;
}
.budget-modal .modal-header {
    border: none;
    text-align: center;
}
.budget-modal .modal-body {
    border: none;
}
.budget-modal .modal-footer {
    border: none;
}

.budget-modal{
    border: none;
}