
/* dashboard styles */

section.dashboard{
    background-color: black !important;
    color: white;
}

#dash-info-div{
    margin: 0 auto;
}

#dash-banner{
    display: flex;
    justify-content: space-between;
}

#banner-content{
    display: flex;
}

 #message-and-button{
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#message-and-button #welcome-message{
    font-size: 1.2em;
}

#switch-button{
    max-height: 42px !important;
    margin: auto 0;
    transform: scale(0.75);
}

#button-and-text{
    display: flex;
}

#dash-banner p{
    margin: auto 0;
}

#logo{
    max-height: 100px;
}

#logo-and-tag{
    display: flex;

}

#tagline{
    margin: auto 0;
}






/* new expense section styles */



/* === DYNAMIC BUDGET SECTION styles === */

.currency-symbol {
    margin-left: 2px;
    margin-right: 2px;
}
section.budget{
    background-color: rgb(45, 45, 45);
    color: aliceblue;
    padding-bottom: 10px;
}

/* Graph */
.outer-graph {
    background-color: white;
    color: rgb(189, 189, 189);
    border-radius: 2px;
    height: 0.6rem;
}
.inner-graph {
    background-color: rgb(0, 255, 123);
    width: 37%;
    min-height: 100%;
    border-radius: 2px;
}
.inner-graph p {
    margin: 0px;
    padding: 5px;
}

/* Button */
.add-remove-btn {
    margin: 0px;
    padding: 0px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-weight: 100;
}

/* Adds space between divider in column 2 */
.with-space {
    margin: 0 15px;
}



/* === DYNAMIC INCOME SECTION styles === */

.income-outer-graph {
    background-color: transparent;
    color: rgb(189, 189, 189);
    border-radius: 2px;
    min-height: 1.5em;
    width: 100%;
}
.income-inner-graph {
    background-color: rgb(0, 255, 123);
    width: 100%;
    min-height: 1.5em;
    border-radius: 2px;
    color: black;
}

#income-information .graph-text {
    max-width: 20rem;
    font-size: 12px;

}

#income-information .header {
    /* max-width: 10rem; */
    font-size: 20px;

}



/* *** MODAL *** */

.budget-modal .modal-content {
    background-color: #414141;
    border-radius: 3px;
}

/* *Currecncy exchange styles*/

.currency-exchange-wrapper, .currency-exchange-form{
    margin: 0 auto;
}