:root {
    --bg-1-dark: rgb(33, 33, 33);
    --bg-2-purple: rgb(45, 40, 50);
    --bg-2b-purple-trnsp: rgba(45, 40, 50, 0.889);
    --bg-3-dynamic: rgba(78, 69, 88, 0.477);
    --bg-3: rgba(186, 179, 192, 0.938);
    --btn-add: rgb(90, 83, 96);
    --text-primary: rgb(169, 111, 227);
    --bg-input: rgb(223, 223, 223);
}


/* GLOBAL */

body {
    background: var(--bg-1-dark);
    font-size: 14px;
    /* color: white; */
    font-weight: 600;
}

input {
    background-color: var(--bg-input) !important;
}
select {
    background-color: var(--bg-input) !important;
}


/* ELEMENTS */

label {
    color: #555555;
    font-weight: 100;
    font-size: 0.75rem;
}


/* MAIN */

.exterior-div {
    background-color: var(--bg-3);
    padding: 2rem;
}


/* HEADER */

.header-div {
    max-width: 20rem;
}


/* BASIC INFO SECTION */

/* #basic-info-section .row {
    
} */


/* DYNAMIC SECTIONS */

.dynamic-section {
    border: 0px solid #d3d3d3;
    background-color: var(--bg-3-dynamic);
    border-radius: 12px;
    padding: 1rem;
}

/* BUTTONS */
.add-remove-btn {
    margin: 0px;
    padding: 0px;
    max-width: 1.7rem;
    max-height: 1.7rem;
    min-width: 1.7rem;
    min-height: 1.7rem;
    border-radius: 50%;
    background-color: var(--btn-add) !important;
    /* background-color: transparent; */
}

.submit-btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(52, 52, 52);
    border-color: #414141;
}
.submit-btn:hover {
    background-color: rgba(66, 43, 43, 0.5);
    border-color: #414141;
}

.hidden {
    display: none;
}


/* ALERT MODAL */

/* #alert-modal {
    color: white;
} */